html {
	margin: 2%;
}

h1 {
	text-decoration: underline;
}

.severity {
	color: red;
	font-weight: bold;
}

.mod {
    color: orange;
    font-weight: bold;
}

.low {
    color: blue;
    font-weight: bold;
}

.horizline {
    min-height: 1px;
    clear: both; 
    width: 40%;
    border-bottom: 1px solid #d1d1d1;
    height: 1px;
    padding-top: 1px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.descr {
	font-weight: bold;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    font-style: italic;
}

img {
    padding: 5px;
    border: 4px;
    border-style: dotted;
    border-color: gray;
    border-radius: 2px;
}